* {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  color: #023c40;
  background-color: #c3979f;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #59cd90;
  color: #1e212b;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-family: monospace;
  font-size: 3rem;
}

main {
  padding: 5em 1em;
}

section {
  max-width: 60%;
  margin: 0 auto;
}

.main-img {
  border: 0.5em solid #59cd90;
  border-radius: 50%;
  display: block;
  height: 20em;
  margin-inline: auto;
  max-width: 20em;
}

hr {
  border-color: #59cd90;
  margin: 1em auto;
  opacity: 0.8;
  width: 70%;
}

.img {
  border: 5px solid #59cd90;
  border-radius: 1em;
  display: block;
  margin: 1em auto;
  width: 20em;
}

p,
ol {
  margin: 1em auto;
  font-size: 1.2rem;
}

ol {
  padding-left: 5em;
}

ol > li {
  font-weight: bolder;
  margin-top: 1em;
}

.volunteering {
  margin: 1em 0;
}

.volunteering > li {
  margin: 0.5em 0;
}

.number-one {
  font-size: 1.5em;
}

.number-two {
  font-size: 1.4em;
}

.number-three {
  font-size: 1.3em;
}

button {
  background-color: #59cd90;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: block;
  margin: 2em auto;
  padding: 1em;
  font-size: 1.2em;
}

button:hover {
  background-color: #1e212b;
  color: #59cd90;
}

footer {
  background-color: #59cd90;
  text-align: center;
  padding: 1em;
}

footer > small {
  font-size: 1rem;
  font-weight: bold;
}
